---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Modal from '../components/Modal.astro'
---

<Layout title="claustra01's Portfolio">
	<main>
		<h1><span class="text-gradient">claustra01</span>'s Portfolio</h1>
		<p class="profile">
			claustra01<br/>
			福岡の情報系の学科に通う大学2年生。某創作サークルの技術系コミュニティに所属。<br/>
			個人開発やハッカソンでWebアプリ、Bot、Modなどを作っています。<br/>
			<a href="https://twitter.com/cs1nay">
				<img height="30rem" width="30rem" src="/twitter.svg" alt="twitter" style="margin:0.3rem;">
			</a>
			<a href="https://github.com/claustra01">
				<img height="30rem" width="30rem" src="/github.svg" alt="github" style="margin:0.3rem;">
			</a>
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: linear-gradient(45deg, rgb(67, 186, 255), rgb(31, 0, 135));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200%;
		background-position: 0%;
	}
	.profile {
		line-height: 2;
		margin: 1rem 0;
		background-color: white;
		padding: 1.5rem;
		border-radius: 2rem;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
