---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="claustra01's Portfolio">
	<main>
		<h1><span class="text-gradient">claustra01</span>'s Portfolio</h1>
		<p class="profile">
			<strong>claustra01</strong>
			<a href="https://twitter.com/cs1nay">
				<img height="18" width="18" src="/twitter.svg" alt="github" style="margin-left:0.75rem">
			</a>
			<a href="https://github.com/claustra01">
				<img height="18" width="18" src="/github.svg" alt="github" style="margin-left:0.5rem">
			</a><br/>
			福岡の情報系の学科に通う大学2年生。某創作サークルの技術系コミュニティに所属。<br/>
			個人開発やハッカソンでWebアプリ、Bot、Modなどを作っています。<br/>
		</p>
		<p class="skills">
			<strong>技術スタック</strong><br/>
			言語: TypeScript, JavaScript, Python, Golang, Java, C++, C, Rust<br/>
			フレームワーク: React, Next.js, Astro.js, Nest.js<br/>
			データベース: PostgreSQL, CosmosDB<br/>
			インフラ: Azure, Docker, GitHub Actions, fly.io<br/>
			その他: Git, VSCode, Postman, ORM
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href=""
				title="claustra01's Portfolio"
				body="このポートフォリオサイトです。Astro.jsというフレームワークを使用し、読み込みの高速化を試みています。現在製作中。"
			/>
			<Card
				href="https://github.com/claustra01/poker_bot_v2/tree/no_database"
				title="PokerRating"
				body="ポーカーの戦績管理のためのDiscordBotです。独自の拡張イロレーティングを実装しています。現在製作中。"
			/>
			<Card
				href="https://topaz.dev/projects/7e6af345dfa29a97cf48"
				title="OUNSE"
				body="長文の投稿及び投稿後の編集が可能なSNSです。フロントエンドのロジック部分、バックエンド、インフラを担当しました。"
			/>
			<Card
				href="https://github.com/claustra01/C3Lang"
				title="C3言語"
				body="'C'と'3'の2種類の文字のみで書くことができる、チューリング完全な難解プログラミング言語です。インタプリタはC++製です。"
			/>
			<Card
				href="https://github.com/claustra01/WithAI-Rust"
				title="WithAI"
				body="前世代のChatGPTエンジンと話せるLINEBotです。ChatGPTのAPIを触ってみたかった他、Rustへの挑戦として作成しました。"
			/>
			<Card
				href="https://topaz.dev/projects/42f8af56e3ea9f773807"
				title="団体E-活動"
				body="LINEと連携することでサークル活動などの出欠管理を容易にするサービスです。フロントエンドのロジック部分とインフラを担当しました。"
			/>
			<Card
				href="https://www.curseforge.com/minecraft/mc-mods/more-climate"
				title="MoreClimate"
				body="気候の概念を追加するModのAPIを利用し、気候システムの対応環境を広げるMinecraftの小規模Modです。"
			/>
			<Card
				href="https://topaz.dev/projects/2a9106e7526a51adc891"
				title="うさこちゃん"
				body="機械学習したAIがTwitterの呟きの内容からポジティブ度を教えてくれるBotです。Bot本体と認証周りを担当しました。"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100ch;
	}
	h1 {
		font-size: 2.5rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: linear-gradient(45deg, rgb(17, 135, 203), rgb(31, 0, 135));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100%;
		background-position: 0%;
	}
	.profile {
		line-height: 2;
		margin: 1rem 0;
		background-color: white;
		padding: 1.5rem;
		border-radius: 1rem;
	}
	.profile strong {
		font-size: 1.5rem;
		font-weight: bold;
	}
	.skills {
		line-height: 2;
		margin: 1rem 0;
		background-color: white;
		padding: 1.5rem;
		border-radius: 1rem;
	}
	.skills strong {
		font-size: 1.2rem;
		font-weight: bold;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
